@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Coming+Soon&family=Itim&family=Roboto&display=swap');

body {
    margin: remove;
    padding: remove;
    font-family: 'Itim', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    border: 1px, black;
    text-align: center;
    margin: 20px 0 0;
    padding: 10px 0;
}

#example {
    font-size: 1em;

}

a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
}

a:hover {
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    color: rgb(235, 12, 12);
    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

header {
    background-color: rgb(179, 221, 242);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(179, 221, 242);
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-top: 1px;
    padding-bottom: 1px;
}

table {
    border-spacing: 15px;
}

#table-header {

    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: x-large;
}

#create-new-task {
    font-size: x-large;
}

.nav_bar_link {
    display: inline;
    padding: 20px 10px;
}

.nav_bar {
    list-style: none;
    display: inline;
}

.nav_link {
    font-weight: normal;
}

#signup {
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

.foot {
    font-size: x-large;
    font-weight: bold;
    margin-left: 2rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    padding: 16px;
    margin: 0;
}

.table {
    display: inline-block;
}

#star_one {
    grid-column-start: 2;
    resize: both;
}

#star_two {
    grid-column-start: 3;
}

#star_three {
    grid-column-start: 4;
}

#star_four {
    grid-column-start: 5;
}

#head-text {
    font-size: xx-large;
}

.task_table {
    font-size: x-large;
    font-weight: bold;
}

#name-link {
    color: blue;
    text-shadow: none;
}
