{% extends 'base.html' %}

{% block content %}
    <div class="login_signup" >
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
            <p>Not a member? <a class = "nav_link" href="{% url 'signup' %}">Sign up!</a></p>
        </form>
    </div>
{% endblock content %}
