{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
            <p>Already a member? <a class = "nav_link" href="{% url 'login' %}">Log in!</a></p>
        </form>
    </div>
{% endblock content %}
