<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/alpha.css' %}">
    </head>
    <body>
        <header >
            <nav>
                <ul class="nav_bar">
                    {% if user.is_authenticated %}
                    <img class='blue_star' src="{% static 'css/single-star-blue.png' %}" style='width: 40px; height: 40px;' alt="Chicago Stars" title="">
                    <li class="nav_bar_link">
                            <a class = "nav_link" href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <img class='blue_star' src="{% static 'css/single-star-blue.png' %}" style='width: 40px; height: 40px;' alt="Chicago Stars" title="">
                        <li class="nav_bar_link">
                            <a class = "nav_link" href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <img class='blue_star' src="{% static 'css/single-star-blue.png' %}" style='width: 40px; height: 40px;' alt="Chicago Stars" title="">
                        <li class="nav_bar_link">
                            <a class = "nav_link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <img class='blue_star' src="{% static 'css/single-star-blue.png' %}" style='width: 40px; height: 40px;' alt="Chicago Stars" title="">
                    {% else %}
                        <p id='head-text'>So much to do...so litte time</p>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class='main'>
            {% block content %}
            {% endblock content %}
            {% comment %} <img id='star_one' src="{% static 'css/single-star.png' %}" alt="Chicago Stars" title="The Chicago flag has two blue stripes, a white stripe, and four red stars. The first star is for Fort Dearborn and its six points stand for political entities the Chicago region has belonged to and the flags that have flown over the area: France in 1693, Great Britain in 1763, Virginia in 1778, the Northwest Territory in 1789, Indiana Territory in 1802; and Illinois (territory, 1809, and state, since 1818).">
            <img id='star_two' src="{% static 'css/single-star.png' %}" alt="Chicago Stars" title="The second red star represents the Great Chicago Fire of 1871. Its six points represent the virtues of religion, education, aesthetics, justice, beneficence, and civic pride.">
            <img id='star_three' src="{% static 'css/single-star.png' %}" alt="Chicago Stars" title="The third red star represents the World's Columbian Exposition of 1893. Its six points symbolize transportation, labor, commerce, finance, populousness, and salubrity (health)">
            <img id='star_four' src="{% static 'css/single-star.png' %}" alt="Chicago Stars" title="The fourth red star represents the Century of Progress Exposition of 1933. Its points refer to Chicago's status at the time as the United States' second largest city, Chicago's Latin motto Urbs in horto (City in a garden), Chicago's 'I Will' motto, the Great Central Marketplace, Wonder City, and Convention City."> {% endcomment %}
        </main>
        <footer>
            <p class='foot'> Website by <a id='name-link' href='https://www.linkedin.com/in/michael-miklius-42233116/'>Mike Miklius</a></p>
        </footer>
    </body>
</html>
