{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My Tasks</h1>
        <p>
            <a id = 'create-new-task' href="{% url 'create_task' %}">Add a new task</a>
        </p>
        {% if task_list %}
            <table>
                <thead>
                    <tr class='task_table'>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in task_list %}
                        <tr >
                            <td class='task_table'>{{ items.name }}</td>
                            <td>{{ items.start_date|date:"M j, Y" }}</td>
                            <td>{{ items.due_date|date:"M j, Y" }}</td>
                            <td>{{ items.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
