{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>{{ project }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a id = 'create-new-task' href="{% url 'create_task' %}">Add a new task</a>
        </p>
        {% if project_details %}
            <table>
                <thead>
                    <tr id = 'table-header'>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in project_details %}
                        <tr>
                            <td class='task_table'>{{ items.name }}</td>
                            <td>{{ items.assignee }}</td>
                            <td>{{ items.start_date|date:"M j, Y" }}</td>
                            <td>{{ items.due_date|date:"M j, Y" }}</td>
                            <td>{{ items.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
